@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

@import url(https://fonts.googleapis.com/css?family=Lobster);

/*MAIN*/

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #333;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;

}

/* Custom CSS */

.wrapper{
  margin: 0 auto;
  width: 100%;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  /*overflow: auto;
  color: #fff;*/
}


/* H1-H6 */

h1 {
    /*background-image: url('../images/ss_bike_noBak.svg');
    background-size: contain;*/
    width: 100px;
    height: 100px;
    margin-top: 10px;
    /*text-indent: 100%;*/
    font-family: 'Lobster', cursive;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 5.8em;
  font-weight: 900;
  letter-spacing: -.02em;
  color: #fff;
}

h3 {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
}

h4 {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
  /*font-weight: 300;*/
  text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
}

h5 {
  font-size: 1.25em;
  font-weight: 900;
}

h6 {
  font-size: 1em;
  font-weight: 900;
}



/*NAVIGATION*/

nav {
  position: relative;
/*  width: 80%;*/
/*  margin: 0 auto;*/
  float: right;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
/*  line-height: 40px;*/
}

/*nav ul li a{
  color: #333;
  text-decoration: none;
}

nav ul li a:hover{
  border-bottom: 1px solid #333;
}*/



.brand {
  width: 100%;
/*  margin: 0 3%;*/
}

.brand h1 {
  margin: 12px 0 0 3%;
}

.top-nav {
  width: 400px;
  margin-top: 7px;
  float: right;
}

.top-nav > li {
  display: inline-block;
  width: 70px;
  height: 20px;
  margin: 0 0 0 1%;
  padding: 3px 10px;
  font-size: .8em;
  /*font-weight: 400;*/
  text-align: center;
  text-transform: uppercase;
  line-height: 1.6em;
  color: #333;
  /*color: rgba(255,255,255, 1);*/
  /*background-color: rgba(0,0,0, .5);*/
  /*border: .15em solid rgba(255,255,255, .5);*/
  border-radius: 15px;
}

.top-nav li:hover {
  color: rgba(255,255,255, 1);
  background-color: rgba(87, 138, 7, 1);
}

.top-nav li:active {
  color: rgba(255,255,255, 1);
  background-color: rgba(170,21,5,1);
}

/*.list-a-bike {
  background-color: rgba(87, 138, 7, 1);
  border-radius: 15px;
}

.list-a-bike:hover {
  background-color: rgba(170,21,5,1);
}

.list-a-bike:active {
  background-color: 3px solid rgba(170,21,5,.5);
}*/

.profile-nav:after {
  content: " ";
  clear: both;
}

#banner {
  position: relative;
  top: 0px;
  left: 0;
  background-image: url('../images/steilacoom_02.jpg');
  height: 600px;
  background-size: cover;
  background-position: center;
/*  background-repeat: no-repeat;*/
  /*padding-top: 50px;*/
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 8px #000000;
}

#banner h2 {
  position: relative;
  top: 180px;
}

#banner h4 {
  position: relative;
  top: 190px;
  font-size:  2.5em;
}

#banner p {
  position: relative;
  top: 192px;
  padding: 10px;
  /*font-size: 1.5]2em;*/
}





/*img{max-width: 100%;}

p{margin: 0 0 10px 0; line-height: 1;}

input{
      width: 100%;
      border:0;
      padding:10px;
      margin: 2px auto;
      font-size:.8em;
      display: block;
      color: #444;
    }
input[type="submit"] {
  background: #CE2701;
  color:white;
}*/


#register, #login, .new-bike-posting {
  width: 90%;
  overflow: auto;
  /*background-color: #eee;*/
}

.user-messages {
  color: #fff;
}

.reg-login  h6{
  color: #fff;
  padding: 10px 0 5px;
}

.reg-login {
  margin: 0 auto;
}

.register-a, .login-a {
  font-weight: 700;
}

.container{
  max-width: 100%;
  margin: 0 auto 40px;
  overflow: auto;
}

.list-a-bike {
  margin-right: 10%;
}

.new-post-form {
  float: left;
}

.bike-icon {
  /*width: 70px;*/
  width: 20%;
  height: 70px;
  /*margin: 5px;*/
  padding: 5px;
  /*background-image: url('../images/ss_bike.svg');*/
  background-color: #eee;
  display: inline-block;
  border-radius: 50%;
}

.bike-icon p:first-child {
  margin-top: 8px;
  font-size: .7em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255,255,255,0.5);
}

.bike-icon p:last-child {
  font-size: 2.5em;
  text-align: center;
  color: rgba(255,255,255,0.5);
}

.bike-posts {
  position: relative;
  display: inline-block;
  height: 80px;
  overflow-y: scroll;
  padding: 5px 7px;
  margin: 5px 0 0 5px;
  background: rgba(0,0,0, 0.3);
  border-top: 3px solid rgba(75,75,75, 1);
  color: #bbb;
  transition: all .3s ease-in-out;
}

.bike-posts:hover{
  border-top: 3px solid rgba(166,213,8,1);
  background: rgba(87, 138, 7, 1);
  transform: scale(1.02);
  color: #fff;
}

.bike-posts:active{
  background: radial-gradient(#FFEF8C 0%, #FF6A00 100%);
}

.bike-posts h6 {
  margin: 4px 0;
}

.bike-posts p {
  font-size: .8em;
  line-height: 1.2;
  width: 90%;
}

.bike-posts p:last-child {
  width: 100%;
}

/*.bike-posts p:hover, .bike-posts p:active {
  color: #fff;
}
*/


.favorite-bike {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.delete-bike {
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.favorite-bike:hover {
  color: #fff;
}



.fav-holder {
  /*position: relative;*/
  padding: 5px;
}

.fav-bike-icon {
  position: relative;
  width: 40px;
  /*width: 20%;*/
  height: 40px;
  margin: 5px 10px 0 0;
  padding: 5px;
  /*background-image: url('../images/ss_bike.svg');*/
  background-color: #95CE00;
  display: inline-block;
  border-radius: 50% 0 50% 50%;
  float: left;
}

.fav-bike-icon p:nth-child(2) {
  margin-top: 3px;
  font-size: .65em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255,255,255,1);
}

.fav-bike-icon p:last-child {
  font-size: 1.4em;
  text-align: center;
  color: rgba(255,255,255,1);
}

.close-me-fav {
  position: absolute;
  top: 0px;
  right: 3px;
  font-size: .7em;
  color: rgba(255,255,255, 0.5);
}

.close-me-fav:hover {
  color: rgba(255,255,255, 1);
}

.close-me-fav:active {
  color: rgba(255,255,255, 0.7);
}


.current-user, .favorites {
  margin-top: 20px;
}

.current-user h4, .favorites h4 {
  margin-bottom: 10px;
}


.bikes-for-sale {
  position: relative;
/*  min-height: 300px;*/
  padding: 20px;
}


.bikes-for-sale:after {
  content: '';
  clear: both;
}


.bikes-for-sale h4 {
  margin-top: -5px;
  margin-bottom: 5px;
}

/*.profile, .current-user, .favorites {
  width: 60%;
  min-height: 300px;
  margin-left: 10%
}

/*.bikes-for-sale:after {
  content: '';
  clear: both;
}*/

/*.current-user {
  width: 63.4%;
  min-height: 300px;
}*/

.favorites {
  overflow: auto;
}

.favorites:after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}


.messages-container {
  width: 290px;
  height: 200px;
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(87, 138, 7, .8);
  overflow: auto;
}

/*.current-user, .favorites {
  padding: 10px;
}*/

.favorite-menus {
  padding: 10px;
  margin: 10px;
  background-color: rgba(0, 0, 0, .4);
  overflow: auto;
}

.favorite-menus  h4 {
  color: #fff;
  padding-top: 15px;
  font-size: 1.25em;
}

.usr-posts {
  position: relative;
  display: inline-block;
  height: 80px;
  overflow-y: scroll;
  padding: 5px 7px;
  margin: 5px 0 0 5px;
  border-left: 5px solid rgba(112,173,5,1);
  background: rgba(44, 85, 3, 0.8);
  color: #fff;
  transition: all .3s ease-in-out;

/*
  padding-left: 10px;
  color: #fff;*/
}

.usr-posts:hover {
  border-left: 5px solid rgba(203,78,10,1);
  background-color: rgba(138,53,7,1);
  color: #fff;
}

.usr-posts p {
  font-size: .8em;
  line-height: 1.2;
  width: 80%;
}


.usr-favs {
  background-color: #95CE00;
}

.usr-favs:hover {
  background-color: #C1CE00;
}


.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}



/* buttons and inputs */

button {
  border: 2px solid white;
  background: rgba(0, 0, 0, 0);
/*  margin: 30px 0 15px;*/
  padding: 3px 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: .8em;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


button:hover {
  background: rgba(0,0,0,0.3);
}

input {
  width: 97.5%;
  border:0;
  margin: 8px 0 15px;
  padding:10px 0 10px 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size:18px;
  display: block;
}

input[type="submit"]{
  background: red;
  color:white;
}

label {
  font-size: 1.3em;
}

/*select {
  width: 100%;
  border:0;
  margin: 10px 0 20px;
  padding:25px;
  border-radius: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size:18px;
  display: block;
}*/



/* form sections */

.close-me, .close-me-create {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  color: rgba(255,255,255, 0.5);
}

.close-me:hover, .close-me-create:hover {
  color: rgba(255,255,255, 1);
}

.close-me:active, .close-me-create:active {
  color: rgba(255,255,255, 0.7);
}



.register-scheme, .login-scheme {
  /*max-height: 250vh;*/
  padding: 180px 0 0;
  height: 100%;
  background-color: rgba(0,0,0, .9);
  color: #fff;
}


.bike-list-scheme, .user-fav-scheme, .user-list-scheme {
/*  max-height: 100vh;*/
/*  padding: 120px 0;*/
  background-color: rgba(50,50,50, 1);
  color: #fff;
  overflow: hidden;
}


.register-scheme h3, .login-scheme h3, .bike-list-scheme h3, .edit-scheme h3 {
  margin: 0px auto 20px;
  padding: 0;
  /*text-align: center;*/
  color: #fff;
  /*border: 1px solid white;*/
}


.register-scheme button, .login-scheme button, .bike-list-scheme button {
  width: 100%;
  /*margin-top: 20px;*/
  text-align: center;
  border: 0;

  border: 2px solid white;
  background: rgba(0, 0, 0, 0);
  margin: 30px 0 15px;
  padding: 5px 10px 8px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

}


.bike-list-scheme, .curr-user-scheme, .user-fav-scheme, .user-list-scheme {
  /*padding: 20px 0;*/
  /*top: 60;
  right: 0;*/
  /*width: 25%;*/
/*  overflow: auto;*/
}

.sidebar {
  position: relative;
}


.clearfix {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

.hidden {
  display: none;
}

.left {
  float: left;
}


/* z-index structure */

#banner {
  z-index: 1;
}

.messages-container {
  position: absolute;
  z-index: 100;
}


.curr-user-scheme {
  position: absolute;
  top: 40px;
  height: 560px;
  overflow-x: hidden;
  overflow-y: scroll;
  right: 0;
  z-index: 200;
  color: #fff;
}


.user-fav-scheme {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 300;
}


.user-list-scheme {
  position: absolute;
  top: 360px;
  right: 0;
  z-index: 400;
}


.bike-list-scheme {
  position: relative;
  top: 0px;
  left: 0;
  border-top: 5px solid #222;
/*  z-index: 500;*/
}

.register-scheme {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 700;
}

.login-scheme {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 800;
}


header {
  z-index: 1000;
}

.flexbox-stretch-vertical {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-content: stretch;
}
